html

body {
	margin: 20;
	padding: 0;
	background-color: white;
	background-image: banquise;
	font-family: Verdana;
	sans-serif;
	font-size: 100%;
	}



h1 {
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
}

.moi {
	position:absolute;
	top: 175px;
	right: 20px;
}

.presentation {
	border: 5px double;
	font-weight: bold;
	position: absolute;
	top: 175px;
	left: 20px;
}

.parcours {
	border: 5px double;
	position: absolute;
	top: 425px;
	left: 20px;
}

.diplome {
	border: 5px double;
	position: absolute;
	top: 775px;
	left: 20px;
}

.passion {
	border: 5px double;
	position: absolute;
	top: 950px;
	left: 20px;
}